{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center primary">{% block title %} Upload paintings {% endblock %}</h2>
    <section_success>
    <form action = "{{ url_for('upload') }}" method = "POST"
            enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
        {% if success %}
        <div id="success-upload">
            <p>File uploaded!</p>
        </div>
        {% endif %}
        </form>
    </section_success>
    <h2 class="text-center primary">Painter: {{predicted_painter}}</h2>


{% endblock %}